openshift_cluster_hosts:
  - hostname: bootstrap
    roles: [ bootstrap ]
    ipaddr: 192.168.150.20
    macaddr: 00:1c:14:00:0a:20
    num_cpus: 4
    memory_gb: 16
    disk_gb: 120
    ignition_config: bootstrap.ign
#    ignition_transform:
#      filetranspiler_roots:
#        - files/ignition/filetranspiler/bootstrap
#      jsonpatches:
#        - files/ignition/jsonpatch/bootstrap/password.json
    bmc:
      username: admin
      password: ''
      hostname: 192.168.150.120
      port: 623
  - hostname: master1
    roles: [ master ]
    ipaddr: 192.168.150.21
    macaddr: 00:1c:14:00:0a:21
    num_cpus: 8
    memory_gb: 32
    disk_gb: 120
    ignition_config: master.ign
#    ignition_transform:
#      jsonpatches:
#        - files/ignition/jsonpatch/non-bootstrap/password.json
    bmc:
      username: admin
      password: ''
      hostname: 192.168.150.121
      port: 623
  - hostname: infra1
    roles: [ infra ]
    ipaddr: 192.168.150.22
    macaddr: 00:1c:14:00:0a:22
    num_cpus: 8
    memory_gb: 32
    disk_gb: 120
    ignition_config: worker.ign
#    ignition_transform:
#      jsonpatches:
#        - files/ignition/jsonpatch/non-bootstrap/password.json
    bmc:
      username: admin
      password: ''
      hostname: 192.168.150.122
      port: 623
  - hostname: app1
    roles: [ app ]
    ipaddr: 192.168.150.23
    macaddr: 00:1c:14:00:0a:23
    num_cpus: 8
    memory_gb: 16
    disk_gb: 120
    ignition_config: worker.ign
#    ignition_transform:
#      jsonpatches:
#        - files/ignition/jsonpatch/non-bootstrap/password.json
    bmc:
      username: admin
      password: ''
      hostname: 192.168.150.123
      port: 623
