vsphere:
  vcenter_hostname: {{ vsphere_creds.vcenter_hostname }}
  vcenter_username: {{ vsphere_creds.vcenter_username }}
  vcenter_password: {{ vsphere_creds.vcenter_password }}
  # Verify server certificate when connecting to vSphere
  validate_certs: {{ vsphere_creds.validate_certs }}
  datacenter_name: {{ vsphere.datacenter_name }}
  datastore_name: {{ vsphere.datastore_name }}
  cluster_name: {{ vsphere.cluster_name }}
  network_name: {{ vsphere.network_name }}
  # Ensuring that folder name matches the cluster name specified in the install-config.yaml file
  target_folder: '{{ openshift_install_config.name | default('{{ openshift_install_config.name }}') }}'
  template_name: {{ vsphere.template_name }}
