appcode: {{ appcode }}
cluster_name: {{ cluster_name }}
cluster_base_domain: {{ domain_name }}
cluster_network_name: commonNetwork4thisCluster
cluster_gateway: {{ cluster_gateway }}
cluster_netmask: {{ cluster_netmask }}
mastercount: {{ mastercount }}
infracount: {{ infracount }}
workercount: {{ workercount }}
inventory_file: file_for_new-ocp4-cluster
OCP_version: {{ OCP_version }}
master_replicas: 1
worker_replicas: 1
