appcode: {{ appcode }}
cluster_name: {{ cluster_name }}
cluster_base_domain: {{ domain_name }}
{% if cluster_network_name %}
cluster_network_name: {{ cluster_network_name }}
{% else %}
# cluster_network_name:
{% endif %}
{% if cluster_gateway %}
cluster_gateway: {{ cluster_gateway }}
{% else %}
# cluster_gateway:
{% endif %}
{% if cluster_netmask %}
cluster_netmask: {{ cluster_netmask }}
{% else %}
# cluster_netmask:
{% endif %}
mastercount: {{ mastercount }}
infracount: {{ infracount }}
workercount: {{ workercount }}
inventory_file: file_for_new-ocp4-cluster
{% if OCP_version %}
OCP_version: {{ OCP_version }}
{% else %}
# OCP_version:
{% endif %}
master_replicas: 1
worker_replicas: 1
