worker_role: app
worker_num_cpus: 4
worker_num_cpu_cores_per_socket: 2
worker_memory_gb: 8
#worker_network_name: default-network-name-for-this-cluster-workers
worker_disk_gb: 250
worker_ignition: worker

worker_nodes:
